<!-- 2019 - 2020 © AR-Mechatronics - <a href="http://mytamu.ar-mechatronics.com" target="_blank"><span class="hide-phone">mytamu.ar-mechatronics.com</span></a> -->
<div class="float-right d-none d-sm-block"></div>
<strong>Copyright &copy; 2019-2020 <a href="http://mytamu.ar-mechatronics.com">mytamu.ar-mechatronics.com</a>.</strong> All rights
    reserved.

    <b>Version</b> 3.0.1
    </div>
    