<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <!-- <div class="sidebar-menu"> -->
    <a href="bulletin" class="brand-link">
      <img src="dist/img/Lencana_Sekolah_Kebangsaan_Sri_Skudai.jpg" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .9">
      <span class="brand-text font-weight-light">SK SERI SKUDAI</span>
    </a>

    <!-- Sidebar -->
    
      <!-- Sidebar user panel (optional) -->
      <div class="sidebar">
      <!-- <div class="user-panel mt-3 pb-3 mb-3 d-flex"> -->
        <!-- <div class="image">
          <img src="dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Alexander Pierce</a>
        </div> -->
      <!-- </div> -->

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

          <li class="nav-item">
            <a href="guru" class="nav-link">
              <i class="fas fa-chalkboard-teacher	"></i>
                <p>
                  Guru
                </p>
              
            </a>
          </li>

          <li class="nav-item">
            <a href="pelajar" class="nav-link">
              <i class="fas fa-user-circle"></i>
              <p>
                Pelajar
              </p>
             </a>
          </li>

          <li class="nav-item">
            <a href="jadual" class="nav-link">
              <i class="fas fa-calendar-alt"></i>
                <p>
                  Jadual
                </p>
              
            </a>
          </li>

        </ul>
      </nav>
      </div>
      <!-- /.sidebar-menu -->
    <!-- </div> -->
    <!-- <div class="clearfix"></div> -->
    <!-- /.sidebar -->
</aside>
