

<nav class="main-header navbar navbar-expand navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
      </li>
       <!-- SEARCH FORM -->
    <!-- <form class="form-inline ml-3">
      <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-navbar" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form> -->
    <!-- <h5 id="userName"></h5> -->
    </ul>
    
    <ul class="navbar-nav ml-auto">
    <li class="nav-item">
    <a class="logout-btn" id="logout-btn" style="color: black;">
      Log Keluar <i style='color:black' class='fas fas fa-sign-out-alt'></i>
   </a>
  </li>
</ul>


  </nav>

  <script src="dist/js/topBar.js"></script>
